@media (min-width: 1024px) {
  .marging-container {
    margin: 0 $margin-sides-wide;
  }

  .bigger-align-margin {
    margin: 1rem 0;
  }

  .wellcome-component {
    height: 15px;

    &-container {
      &-msg {
        margin-right: 150px;
        font-size: 10px;
      }

    }
  }

  .header-logocontainer {
    &-logo {
      .main-logo {
        width: 12rem;
      }
    }
  }

  #cart-btn {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
}
